body{
background-color:yellow;

}

.blue{
background-color:#29DAEA  ;

}

.green{
background-color:#8BEB29 ;

}


.red{
background-color:#D229EB ;

}


.picture{
float:left;

}


.picturre{
float:left;
box-shadow:30px 30px 20px black;


}

margin-left:50px;
